@import "tailwindcss";

/* :root {
  --bg-dark: #ffffff;
  --foreground: #171717;
} */
:root {
  --bg-dark: #161616;
  --bg-dark-2: #161617;
  --accent: #ed4716;
  --text-main: #ffffff;
  --text-subtle: #cfcfcf;
}
@theme inline {
  --bg-dark: "#161616";
  --bg-dark-2: #161617;
  --accent: #ed4716;
  --text-main: #ffffff;
  --text-subtle: #cfcfcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-dark);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  bg--bg-dark: var(--bg-dark);
  color: var(--text-main);
} */
.text-gradient {
  background: linear-gradient(90deg, #ed4716, #ff7a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
